// **********BOOK-SERVICES**********
$book_service_main:#1D7A8C;
$book_service_tab:#F3F3F3;
$book_service_active_tab:#1D7A8C;
$book_service_title:#4F4F4F;
$book_service_para:#646464;

$book_service_s2_border:#DCDCDC;
$book_service_s2_circel_border:#C8C8C8;
$book_service_s3_border:#DCDCDC;
$book_service_s4_border:#DCDCDC;
$book_service_s4_input_text:#646464;

$payment_summary_border:#C8C8C8;
$payment_summary_shadow:#00000059;
$payment_summary_bottom_btn:#F3F3F3;

