// **********TABLE-BUTTONS**********
$book_service_btn:#1D7A8C;
$rate_sp_btn:#6DA9B5;
$reschedule_btn:#1D7A8C;
$cancel_btn:#ff6b6b;
$export_btn:#1D7A8C;
$remove_btn:#1D7A8C;
$block_btn:#ff6b6b;
$accept_btn:#1D7A8C;
$search_btn:#1FB6FF;
$add_new_user_btn:#1FB6FF;

