// **********FORM**********
$profile_text:#646464;
$label_text:#4F4F4F;
$phone_label_bg:#f3f3f3;

$input_text:#646464;
$input_border:#C8C8C8;

$validation_msg:#e50009;

$form_btn:#1D7A8C;
$active_profile_tab:#1D7A8C;

