// **********HOME**********
$home_section_title:#4F4F4F;
$home_s1_btn:#006072;
$home_s1_main_btn_border:#ffffff80;
$home_s2_card_title:#565656;
$home_s2_card_para:#565656;
$home_s3_card_title:#3D4046;
$home_s3_card_para:#565656;
$home_s3_shadow:#E4EBF0;
$home_s4_bg:#F4F5F8;
$home_s4_card_para:#565656;
$home_s4_profile_bold:#4F4F4F;
$home_s4_profile_lighter:#8E8E8E;
$home_s4_card_left_border:#006072;
