// **********TABLE-TAB**********
$table_text:#646464;
$table_border:#E1E1E1;
$table_thead_bg:#f9f9f9;
$table_th_text:#646464;
$table_tab_left:#1D7A8C;
$active_table_tab:#146371;
$table_to_card_shadow:#E4EBF0;

// **********TABLE-COMPONENTS**********
$favourite_pros_text:#646464;
$payment_text:#1D7A8C;
$hat_border:#AAAAAA;

// **********ADMIN-TABLE**********
$admin_top_section_text:#646464;
$admin_top_outline:#1FB6FF;
