$table_border:#E1E1E1;

.dataTable,
.dataTable thead > tr > th{
    border-bottom:1px solid $table_border !important;

}

.datatable_bottom{
    margin-top: 9px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .datatable_bottom{
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }        
}

.dataTables_length{
    margin-bottom: 4px;
}

.dataTables_length > label{
    color:#646464;

    & > select{
        margin:0 6px;
        border:1px solid $table_border;
    }
} 

.paging_full_numbers > .paginate_button,
.paging_full_numbers > span > .paginate_button{
    width:38px;
    height: 38px;
    font-size: 14px;
    padding-top: 9.3px !important;
    background-color: white;
    border:1px solid $table_border !important;
    border-radius: 50% !important;
    i{
        font-size: 12px;
    }
}

.paging_full_numbers > .paginate_button{
    &:hover{
        border:1px solid transparent !important;
    }
}
.paging_full_numbers > .disabled,
.paging_full_numbers > .current{
    &:hover{
        border:1px solid $table_border !important;
    }
}
