// ---------------NAVBAR_HEIGHT------------------
// ONLY IN HOME PAGE NAVBAR HEIGHT:AUTO;
$navbar_height:64px;

// ---------------FOOTER_HEIGHT------------------
$footer_height:334px;

// ------------------Z_INDEX-------------------
$navbar_z_index             :1;
$payment_summary_btn_z_index:1;
$dropdown_z_index           :1;
$sidenav_btn_z_index        :1;
$admin_dashboard_btn_z_index:1;
$backlight_z_index          :2;
$admin_left_z_index         :3;
$sidenav_z_index            :3;
$model_z_index              :4;
$popup_z_index              :5;

//********************USE ID FOR STYLE ONLY IN POPUP MODEL******************
